.article-summary-wrapper {
    margin-bottom: 40px;

    figure {
        min-height: 150px;
        text-align: center;
        line-height: 150px;
        color: #999;
        background-color: #d8d8d8;
    }

    .content {
        position: relative;
        padding: 20px 15px;

        p {
            margin: 10px 0;
        }

        span {
            font-size: $fontSizeSmallText;
            color: rgb(175, 175, 175);
        }

        .title {
            a {
                color: $titleColor;
                font-size: $fontSizeTitle;
                
                &:hover {
                    color: $sencondColor;
                }
            }
        }

        .category {
            font-size: $fontSizeSmallText;
            font-weight: bold;
            color: $colorTextOnSecondColor;
            padding: 5px 15px;
            position: absolute;
            top: -13px;
            right: 20px;
            background-color: $sencondColor;

            &:hover {
                background-color: $sencondColorHover;
            }
        }
    }
}