$sencondColor: #eb191e;
$sencondColorHover: darken($sencondColor, 10);
$colorTextOnSecondColor: #fff;

$fontFamily: 'Roboto', sans-serif;
$fontSizeText: 14px;
$titleColor: #545454;
$colorText: #494949;
$link: $sencondColor;