.author-wrapper {
    display: flex;
    
    figure {
        i {
            font-size: 44px;
            color: #999;
        }
    }

    div {
        line-height: 44px;

        a {
            margin: 0 20px;
        }
    }
}