.author-wrapper {
    display: flex;
    padding: 15px 0;
    
    figure {
        i {
            font-size: 44px;
            color: #999;
        }
    }

    div {
        line-height: 44px;

        .name {
            display: inline-block;
            margin: 0 20px;
        }

        span {
            font-size: $fontSizeSmallText;
            color: rgb(175, 175, 175);
        }
    }
}