body {
    font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
    color: #545454;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link;

    &:hover {
        color: $sencondColorHover;
    }
}

p, span {
    font-size: 14px;
    color: $colorText;
    margin: 0;
}