body {
    font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
    color: $titleColor;
    margin: 0;
}

a {
    font-size: $fontSizeText;
    text-decoration: none;
    color: $link;

    &.active,
    &:hover {
        color: $linkHover;
    }
}

p, span {
    font-size: $fontSizeText;
    color: $colorText;
    margin: 0;
}