body {
    font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
    color: $titleColor;
    margin: 0 0 20px 0;
}

a {
    font-size: $fontSizeText;
    text-decoration: none;
    color: $link;
    cursor: pointer;

    &.active,
    &:hover {
        color: $linkHover;
    }
}

p, span {
    font-size: $fontSizeText;
    line-height: 22px;
    color: $colorText;
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    
    li {
        display: block;
    }
}